/*kr캐su palete: https://coolors.co/fbf8cc-fde4cf-ffcfd2-f1c0e8-cfbaf0-a3c4f3-90dbf4-8eecf5-98f5e1-b9fbc0 */
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color:#fff1e6;
}
.page{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:auto;
    margin:20px auto;
    color:#fff1e6;
}
.Header{
    grid-column: 1/4;
    padding: 20px;
    background-color: #fde2e4;
}
.header-title{
    margin:0;
    font-size: 60px;
    color:#796676;
    text-align:center;
    text-decoration:none;
}
.header-subtitle{
    margin:0;
    font-size: 16px;
    color:#d4d4d4;
    text-align:center;
}
button{
    padding: 0;
    border: none;
    background: none;
}
.nav{
    /*lai novietotu navig캐ciju loga apak코캐
    position: fixed;
    bottom: 0;*/
    grid-column: 1/4;
    text-align:center;
    overflow: hidden;
    background-color:#fde2e4;
}
.nav-link{
    display: inline-block;
    padding: 8px 12px;
    color:#788789;
    text-decoration:none;
    font-weight: 600;
}
/*Pseido klase ietvaram*/
.nav-link:hover{
    /*background-color:#fde2e4;*/
    color:#bee1e6;
}
.content{
    /*display: flex;*/
    grid-column: 1/4;
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    /*justify-content: center;
    align-items: center;*/
    text-align: center;
    color: #fccdd0;
}
.burtu-koferis{
    /*width: 50%;*/
    grid-column: 1/4;
    /*padding: 30px;*/
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;*/
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
=======
>>>>>>> parent of 0469e66 (Merge branch 'main' into Sajauc-burtus)
.score{
    grid-column: 1;
    grid-row: 1;
}
.mistake{
<<<<<<< HEAD
    grid-column: 1;
    grid-row: 3;
}
>>>>>>> Stashed changes
=======
    grid-column: 3;
    grid-row: 1;
}
>>>>>>> parent of 0469e66 (Merge branch 'main' into Sajauc-burtus)
.viltigs{
    grid-column: 2;
    color:#858383;
    font-size: 16px;
    font-weight: 100;
}
<<<<<<< HEAD
<<<<<<< Updated upstream
input.tukss{
    grid-column: 2;
=======

.mikslis{
        grid-column: 2;
        grid-row: 2;
        color:#858383;
        font-size: 16px;
        font-weight: 100;
}

.tukss{
    grid-column: 2;
    grid-row: 3;
>>>>>>> Stashed changes
=======

.tukss{
    grid-column: 2;
    grid-row: 2;
>>>>>>> parent of 0469e66 (Merge branch 'main' into Sajauc-burtus)
    color:wheat;
    outline:none;
    border-radius: 10px;
    border: solid 2px #dfd5dd94;
    font-size: 16px;
    padding-left:25px;
}

<<<<<<< HEAD
/*button.uzmini:hover, input.padoms:hover{cursor: pointer;}*/

.uzmini{
    grid-column: 2;
<<<<<<< Updated upstream
=======
    grid-row: 4;
>>>>>>> Stashed changes
=======
.uzmini:hover, input.padoms:hover{cursor: pointer;}/*peles kursora izskats*/

.uzmini{
    grid-column: 2;
    grid-row: 3;
>>>>>>> parent of 0469e66 (Merge branch 'main' into Sajauc-burtus)
    margin-bottom:20px;
    margin-top: 20px;
    color:#858383;
    background-color: #fde2e4;
    border-radius: 20px;
    outline: none;
    border: solid 2px #dfd5dd94;
    font-size: 14px;
    text-align: center;
}
<<<<<<< HEAD
.bilde{
<<<<<<< Updated upstream
    width: 50%;
=======
    width: 40%;
    grid-column: 3;
    grid-row: 1;
>>>>>>> Stashed changes
}


.padoms{
    grid-column: 3;
    /*grid-row: 3;*/
    width: 40px;
    /*height: 40px;*/
=======
#bilde{
    width: 40%;
    grid-column: 3;
    grid-row: 3;
}

.padoms{
    grid-column: 3;
    grid-row: 3;
    width: 80px;
    height: 80px;
>>>>>>> parent of 0469e66 (Merge branch 'main' into Sajauc-burtus)
    border-radius: 100px;
    outline: none;
    color: #858383;
    background: #d4c4d2;
    font-family: Arial, sans-serif;
    border: solid 2px #ac9eaa;
    font-size: 12px;
    line-height: 3.4;
    justify-self: center;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 6px 8px 0px black;
    transform: scale(1);
    transition: all .5s ease;
}

.padoms:active{
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 0px black;
}

.padoms-att{
    width: 200px;
<<<<<<< HEAD
<<<<<<< Updated upstream
    border-radius: 100%;
    grid-column: 1;
    grid-row: 1/5;
    margin: 20px;
    /*display: none;*/
}
.burti{
=======
    /*border-radius: 60%;*/
   /* grid-column: 3;
    grid-row: 3;
    margin: 20px;
} */
/* .burti{
>>>>>>> Stashed changes
=======
    /*border-radius: 60%;*/
    grid-column: 3;
    grid-row: 3;
    margin: 20px;
}
/* .burti{
>>>>>>> parent of 0469e66 (Merge branch 'main' into Sajauc-burtus)
    display: inline-block;
    margin: 3px;
    background-color:#dfd5dd94;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(161, 159, 159);
    border-radius: 8px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    font-size:62px;
    color:#858383;
    transition-duration: 0.3s;
}
.burti:hover{
    background-color: rgb(66, 238, 209);
    color:#757373;
    border: 3px solid rgb(161, 159, 159);
    box-shadow: 7px 7px 5px grey;
}
.burti:active{
    background-color: rgb(56, 219, 198);
    color:#636161;
    border: 3px solid rgb(161, 159, 159);
    box-shadow: 2px 2px 2px grey;
    transform: translateY(4px);
}
.pazinojums{
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    color: #636161;
<<<<<<< HEAD
    /*display: none;*/
}
=======
    display: none;
} */
>>>>>>> parent of 0469e66 (Merge branch 'main' into Sajauc-burtus)

.Footer{
    /*grid-column: 1/4;*/
    position: relative;
    width:auto;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: #fde2e4;
    color:#d4c4d2;
}